/*
https://fontjoy.com/
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Martel', serif;
*/

body {
    background-color: #a3b6a4;
    color: black;
    font-size: 16px;
}

main {
    width: 60%;
    margin: 0 auto;
    font-family: 'Martel', serif;
    font-size: 1.2em;
}

blockquote > footer {
    text-align: right;
}

h1 {
    text-align: center;
    font-size: 2.4em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h2 {
    text-align: center;
    font-size: 1.6em;
    font-family: 'Hind Madurai', sans-serif;
}

.chapter > h2 {
    border-bottom: 1px solid #7f8b7f;
}

.chapter > h2::before, .chapter > h2::after {
    content: " ‧ ";
    color: #7f8b7f;
    /* 
        https://www.w3schools.com/charsets/ref_utf_punctuation.asp 
        https://www.w3schools.com/cssref/sel_before.asp
    */
}
/* <body class="unreadable"> */
.unreadable {
    background-image: url('https://miro.medium.com/max/1200/1*fmmF9LymBuB7uKXVYlshHQ.jpeg');
    background-position: center;
    background-size: cover;

}